<%- include('../partials/header') %>
  <h3>
    <%= title  %>
  </h3>

  <% wines.forEach(wine => { %>
    <div class="card shadow p-3 mb-5 bg-white rounded text-center" style="width: 18rem;">
      <img src="<%= wine.image %>" class="card-img-top" alt="image of the wine bottle">
      <div class="card-body">
        <h5 class="card-title"><%= wine.name %> </h5>
        <p class="card-text"> <%= wine.varietal %></p>


        <% if (wine.year != null) { %>  


          <p class="card-text"><%= wine.year %></p>
          <% } %> 
       
        <a href="/wines/<%= wine._id %>" class="btn btn-primary">Details</a>
        <a href="/wines/<%= wine._id %>/pairings/new" class="btn btn-success">Add Pairing</a>
      </div>
    </div>
<%  }) %> 

  <%- include('../partials/footer') %>