<%- include('../partials/header') %>
<h4 class="display-4 ml-5" ><%= title %> </h4>
  <form class="m-4" action="/wines/<%= wine._id %>/pairings" method="POST">
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" name="pairedWith" autocomplete="off" placeholder="What did you pair it with?">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="url" placeholder="Recipe Url" autocomplete="off">
      </div>
    </div><br />

    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" name="siteName" autocomplete="off" placeholder="Website Name">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="image" autocomplete="off" placeholder="Image URL">
      </div>
    </div><br />
    <div class="form-row">
      <div class="col">
        <input type="date" class="form-control" name="date" autocomplete="off" >
      </div>
      <div class="col">
        <textarea class="form-control"  name="notes" id="exampleFormControlTextarea1"
          placeholder="How was it?" rows="1"></textarea>
      </div>
    </div> <br />
    <input type="text" hidden name="pairer" value="<%= user.name %>">
    <input type="text" hidden name="pairerAvatar" value="<%= user.avatar %>"> 
    <input type="text" hidden name="wineId" value="<%= wine._id %>"> 
    <button type="submit" class="btn btn-success">Add Pairing</button>
</form>
    <%- include('../partials/footer') %>