<%- include('../partials/header') %>
<h4 class="display-4 ml-5" ><%= title %> </h4>

  <form action="/wines/<%= wine._id %>?_method=PUT" method="POST">
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" autocomplete="off" name="name" placeholder="Wine Name" value="<%= wine.name %> ">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="varietal" placeholder="Varietal" value="<%= wine.varietal %> ">
      </div>
    </div><br />

    <div class="form-row">
      <div class="col">
        <input type="number" class="form-control" name="year" placeholder="Year" value="<%= wine.year %>"  >
      </div>
      <div class="col">
        <input type="text" class="form-control" name="image" autocomplete="off" placeholder="Image Url" value="<%= wine.image %> ">
      </div>
    </div><br />
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" name="url" autocomplete="off" placeholder="Website Url" value="<%= wine.url %> ">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="websiteName" placeholder="Website Name" value="<%= wine.websiteName %>">
      </div>

    </div> <br />
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" name="region" placeholder="Region" value="<%= wine.region %>">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="realPrice" placeholder="Price" value="<%= wine.realPrice %>">
      </div>
    </div>
    </div> <br />
    <div class="form-row">
       <div class="col">
        <textarea class="form-control" name="description" style="width: 50%;" 
        rows="2"><%= wine.description %></textarea>

      </div>
    </div>
    </div> <br />


    <button type="submit" class="btn btn-success">Update Wine</button>
  </form>

  <%- include('../partials/footer') %>

