<%- include('../partials/header') %>
  <h3>
    <%= title %>
  </h3>

  <% wines.forEach((wine)=> { %>

    <div class="list-group">
      <a href="/wines/<%= wine._id %>" class="list-group-item list-group-item-action">
        <%= wine.name %> - <%= wine.varietal %> - <%= wine.year %>
      </a>
    </div>
    <% }) %>

      <%- include('../partials/footer') %>