<%- include('../partials/header') %>
  <h3>
    <%= title  %> 
  </h3>

  <% wine.pairings.forEach((p)=> { %>

    


    <div class="card" style="width: 18rem;">
        <img src="<%= p.image %>" class="card-img-top" alt="image of the recipe">
        <div class="card-body">

<% if (p.pairedWith != "") { %> 
          <h5 class="card-title"><%= p.pairedWith %> </h5>
          <% } %> 
          <a href="<%= p.url %>" target="_blank"> Full recipe on <%= p.siteName %></a> 
          
          <p class="card-text"><img width="20" id="avatarPhoto" src="<%= p.pairerAvatar %>" alt="Pairer photo"><%= p.pairer %> says: <%= p.notes %></p>
            <form action="/wines/<%= p.wineId %>/pairings/<%= p._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        </div>
      </div>

     

    <% }) %>
 


      <%- include('../partials/footer') %>

     