<%- include('../partials/header') %>
  <h3>
    <%= title %>
  </h3>
  <div class="card" style="width: 36rem;">
    <img src="<%= wine.image %> " class="card-img-top" alt="image of the wine bottle">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="gameinfo-tab" data-toggle="tab" href="#gameinfo" role="tab"
          aria-controls="gameinfo" aria-selected="true">Wine Info</a>
      </li>
      <!-- This is the tab header for the list of who has the game in their collection -->
      <li class="nav-item">
        <a class="nav-link" id="favorited-tab" data-toggle="tab" href="#favorited" role="tab" aria-controls="favorited"
          aria-selected="false">Favorited By</a>
      </li>
      <!-- This is the tab header for reviews -->
      <li class="nav-item">
        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
          aria-selected="false">Reviews</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="gameinfo" role="tabpanel" aria-labelledby="gameinfo-tab">
        <div class="card-body">
          <h5 class="card-title">
            <%= wine.name %>
          </h5>
          <p class="card-text">Varietal: <%= wine.varietal %>
          </p>
          <p class="card-text">Year: <%= wine.year %>
          </p>
          <p class="card-text"> <a href="<%= wine.url %>" target="_blank">More info at Total Wine</a></p>


        </div>
      </div>
      <!-- This is the tab that will contain our forEach loop indicating who has the game in their collection -->
      <div class="tab-pane fade" id="favorited" role="tabpanel" aria-labelledby="favorited-tab">
        <div class="card-body">
          <p>Favorited By:</p>
          <!-- This is where we'll put our favoritedBy.forEach loop -->
       
        </div>
      </div>
      <!-- This is the tab that holds the review info for a game -->
      <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        <!--This is where we'll put all the info for reviews  -->
      </div>
    </div>

    <!-- This is where we'll put a button to add/remove a game to/from our collection -->
    <% if (wine.favoritedBy.some(u=> {return u.email === user.email})) { %>
      <form action="/wines/<%= wine._id %>/favorites?_method=DELETE" method="POST">
        <% } else { %>
          <form action="/wines/<%= wine._id %>/favorites" method="POST">
            <% } %>
              <button class="btn btn-warning">
                <%= wine.favoritedBy.some(u=> {return u.email === user.email}) ? "Remove from Favorites" : "Add to Favorites"
                  %>
              </button>
          </form>
          <!-- This is where we'll put a button to add/remove a game to/from our watchlist -->
          <% if (user.wineList.some(w=> {return w.name === wine.name})) { %>
            <form action="/wines/<%= wine._id %>/winelist?_method=DELETE" method="POST">
              <% } else { %>
                <form action="/wines/<%= wine._id %>/winelist" method="POST">
                  <% } %>
                    <input type="text" hidden name="name" value="<%= wine.name %>">
                    <input type="text" hidden name="varietal" value="<%= wine.varietal %>">
                    <input type="number" hidden name="year" value="<%= wine.year %>">
                    <button class="btn btn-success">
                      <%= user.wineList.some(w=> {return w.name === wine.name}) ? "Remove from Wine List" : "Add to Wine List" %>
                    </button>
                </form>

                <%- include('../partials/footer') %>