<%- include('../partials/header') %>
  <h3>
    <%= wine.name %>
  </h3>
  <div class="card shadow p-3 mb-5 bg-white rounded text-center ml-5" style="width: 24rem;">
    <img src="<%= wine.image %> " class="card-img-top mb-3" alt="image of the wine bottle">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="gameinfo-tab" data-toggle="tab" href="#gameinfo" role="tab"
          aria-controls="gameinfo" aria-selected="true">Wine Info</a>
      </li>
      <!-- This is the tab header for the list of who has the game in their collection -->
      <li class="nav-item">
        <a class="nav-link" id="favorited-tab" data-toggle="tab" href="#favorited" role="tab" aria-controls="favorited"
          aria-selected="false" >Favorited By</a>
      </li>
      <!-- This is the tab header for reviews -->
      <li class="nav-item">
        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
          aria-selected="false">Reviews</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="gameinfo" role="tabpanel" aria-labelledby="gameinfo-tab">
        <div class="card-body">
          <h5 class="card-title">
           <b> <%= wine.name %> </b>
          </h5>
          <% if (wine.year != null ) { %> 
          <p class="card-text"><%= wine.varietal %> - <%= wine.year %> 
          </p>
         <% } else { %> 

          <p class="card-text"><%= wine.varietal %>
          </p>
          <% } %> 
          <p class="card-text"> <%= wine.description %>
          </p>


         <% if (wine.realPrice) { %> 
          <p class="card-text"><%= wine.realPrice %>
          </p>
         <% } %> 
          <% if (wine.websiteName) { %> 
            <p class="card-text"> <a href="<%= wine.url %>" target="_blank">  More info at <%= wine.websiteName %> </a></p>
          <% } else { %> 
                   <p class="card-text"> <a href="<%= wine.url %>" target="_blank">  More details online</a></p>
        <% } %> 
        </div>
      </div>
      <!-- This is the tab that will contain our forEach loop indicating who has the game in their collection -->
      <div class="tab-pane fade" id="favorited" role="tabpanel" aria-labelledby="favorited-tab">
        <div class="card-body">
          <% if (wine.favoritedBy.length) { %> 
          <!-- This is where we'll put our favoritedBy.forEach loop -->
          <% wine.favoritedBy.forEach(person => { %>
        
          <a href="/users/<%= person._id %>"><img width="20" id="avatarPhoto" style="border-radius: 100%;" src="<%= person.avatar %>" alt="Reviewer photo"><p><%= person.name %></p></a> 
         
         <% }) %> 
            <% } else { %> 
              <p>Be the first to make it a favorite!</p>
          <% } %> 
         </div>
      </div>
      <!-- This is the tab that holds the review info for a game -->
      <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        <!--This is where we'll put all the info for reviews  -->
        <% let total = 0 %>
        <% reviews.forEach(r => { %>
          <% total+= r.rating %>
          <p><b><%= r.rating %> </b>- <img width="20" id="avatarPhoto" style="border-radius: 100%;" src="<%= r.reviewerAvatar %>" alt="Reviewer photo"> <%= r.reviewer %></p>
          <p><%= r.content %></p>
          <% }) %>
          <% if (wine.reviews.length) { %> 
            <p><b>WineCellar Rating: <%= (total / reviews.length).toFixed(2) %></b></p>
            <% } else { %> 
              <p><b>Be the first to leave a review!</b></p>

              <% } %> 

        <% if (!reviews.some(u => {return u.reviewer === user.name})) { %>
          <form action="/wines/<%= wineId %>/reviews" method="POST">
            <div class="form-group">
              <textarea class="form-control" name="content" style="width: 18rem;" id="exampleFormControlTextarea1" placeholder="Leave a Review" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Rating</label>
              <select style="width: 18rem;" class="form-control" name="rating" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option> 
              </select>
            </div>
            <input type="text" hidden name="reviewer" value="<%= user.name %>">
            <input type="text" hidden name="reviewerAvatar" value="<%= user.avatar %>"> 
            <button class="btn btn-info">Submit</button>
          </form>
        <% } %>

       </div>
    </div>

    <!-- This is where we'll put a button to add/remove a game to/from our collection -->
    <% if (wine.favoritedBy.some(u=> {return u.email === user.email})) { %>
      <form action="/wines/<%= wine._id %>/favorites?_method=DELETE" method="POST">
        <% } else { %>
          <form action="/wines/<%= wine._id %>/favorites" method="POST">
            <% } %>
              <button class="btn btn-warning">
                <%= wine.favoritedBy.some(u=> {return u.email === user.email}) ? "Remove from Favorites" : "Add to Favorites"
                  %>
              </button>
          </form>
          <!-- This is where we'll put a button to add/remove a game to/from our watchlist -->
          <% if (user.wineList.some(w=> {return w.name === wine.name})) { %>
            <form action="/wines/<%= wine._id %>/winelist?_method=DELETE" method="POST">
              <% } else { %>
                <form action="/wines/<%= wine._id %>/winelist" method="POST">
                  <% } %>
                    <input type="text" hidden name="name" value="<%= wine.name %>">
                    <input type="text" hidden name="varietal" value="<%= wine.varietal %>">
                    <input type="number" hidden name="year" value="<%= wine.year %>">
                    <input type="text" hidden name="wineId" value="<%= wine._id %>">
                    <input type="text" hidden name="wineImage" value="<%= wine.image %>">
                    <button class="btn btn-success">
                      <%= user.wineList.some(w=> {return w.name === wine.name}) ? "Remove from Wine List" : "Add to Wine List" %>
                    </button>
                </form>

                <% if (wine.pairings.length) {  %> 

                <form action="/wines/<%= wine._id %>/pairings" method="GET">
                 <button class="btn btn-primary">View Pairings</button>
                </form>
                <% } %> 

                <% if (user.email === "shseremetis@gmail.com") { %>
                  <form action="/wines/<%= wine._id %>/edit">
                    <button type="submit" class="btn btn-dark">Edit Wine</button>
                  </form>

                <% } %> 




                <%- include('../partials/footer') %>